


@media screen and (min-width: 601px) and (max-width: 1200px) {



    * {
        margin: 0;
        color: white;
        font-size: 1.5rem;
    }

    .article {
        height: 42vh;
        width: 48%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #linkFlex > div {
        width: 20%;
        height: 5vh;
        border-radius: 5px;
        margin: 10px 10px 0 0;
        display: flex;
        justify-content: center;
    }

    #linkFlex {
        display: flex;
        margin-left: 1.5%;
    }

    #banner > span {
        margin: 35px 100px;
    }

    .as {
        rotate: -90deg;
        margin: 0;
    }
    #articleFlexColumn{
        display: flex;
        flex-direction: row;
        height: 43vh;
        margin-bottom: 0.5vh;
    }
    #articleFlexFirst{
        height: 42vh;
        margin-left: 1.4%;
        margin-right: 0.9%;
        justify-content: space-between;
    }
    #articleFlexSecond{
        height: 42vh;
        margin-right: 1.4%;
        margin-left: 0.9%;
        justify-content: space-between;
    }
    #bannerFlex{
        margin-bottom: 1vh;
    }

}